<h1>Se connecter</h1>

<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    <p>
        <%= f.label :email %><br/>
        <%= f.email_field :email, placeholder: "Entrez votre email" %>
    </p>
    <p>
        <%= f.label :password %><br/>
        <%= f.password_field :password, placeholder: "Entrez votre mot de passe" %>
    </p>
    <p>
        <%= f.submit "Se connecter"  %>
    </p>
    <%= link_to 'Retourner à l\accueil', root_path %>
<% end %>